* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-background {
  background-image: url(../Assets/Images/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.navbar {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.navbar .navbar-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin-top: 2%;
  z-index: 5;
}

.navbar .navbar-right .nav-item {
  padding: 5px 25px;
}

.navbar .navbar-right .nav-item:hover {
  background-color: rgba(218, 165, 32, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

.navbar .navbar-right .nav-item:active {
  background-color: rgba(218, 165, 32, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

.navbar .navbar-right a {
  text-decoration: none;
  color: white;
}

.background-transition {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0%;
  -ms-grid-columns: 5% 1fr 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  height: 100vh;
  width: 100%;
}

.background-transition .panel {
  border-right: 1px solid rgba(219, 219, 219, 0.5);
  background-color: #1e1e1e;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.hero-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  width: 1100px;
  background-color: #0a0a0a;
  position: absolute;
  margin-top: 5%;
  margin-left: 6%;
  padding-top: 5%;
  padding-left: 3%;
  font-family: "Work Sans", sans-serif;
  opacity: 0.9;
  z-index: 4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 50px, rgba(0, 0, 0, 0.5) 0px 20px 50px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 50px, rgba(0, 0, 0, 0.5) 0px 20px 50px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.hero-panel .home-text1 {
  font-size: 130px;
  line-height: 120px;
  font-weight: bolder;
  color: white;
}

.hero-panel .home-text1:hover {
  color: goldenrod;
}

.hero-panel .home-text2 {
  font-size: 20px;
  line-height: 50px;
  font-weight: lighter;
  letter-spacing: 4px;
  padding-left: 1%;
  color: white;
}

.hero-panel .home-text2:hover {
  color: goldenrod;
}

.hero-panel .typewriter-effect {
  text-decoration: underline;
  text-underline-offset: 5px;
  border-right: 0.05em solid;
  -webkit-animation: caret 1s steps(1) infinite;
          animation: caret 1s steps(1) infinite;
}

@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 72%;
  left: 47%;
  z-index: 4;
  width: 400px;
  height: 200px;
}

.arrow-button .contact {
  font-family: "Work Sans", sans-serif;
  color: #c8c8c8;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: lighter;
  float: right;
}

.arrow-button .contact:hover {
  color: goldenrod;
}

.arrow-button svg {
  width: 75px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 5;
  fill: #c8c8c8;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.arrow-button svg polygon,
.arrow-button svg path {
  -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.arrow-button svg:hover polygon,
.arrow-button svg:hover path {
  -webkit-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: goldenrod;
}

.arrow-button svg:hover .arrow {
  -webkit-animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
          animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.arrow-button svg:hover .arrow-fixed {
  -webkit-animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
          animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@-webkit-keyframes arrow-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(-0.1rem);
            transform: translateX(-0.1rem);
  }
  100% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(-0.1rem);
            transform: translateX(-0.1rem);
  }
  100% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.container-quotes {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0%;
  left: 76%;
  z-index: 3;
  width: 300px;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.container-quotes .inspirational-quotes {
  color: white;
  line-height: 50px;
  text-align: center;
  line-height: 40px;
  font-weight: lighter;
  letter-spacing: 3px;
  text-shadow: 1px 1px 20px #c8c8c8;
}

.main-background {
  background-image: url(../Assets/Images/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.navbar {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.navbar .navbar-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin-top: 2%;
  z-index: 5;
}

.navbar .navbar-right .nav-item {
  padding: 5px 25px;
}

.navbar .navbar-right .nav-item:hover {
  background-color: rgba(218, 165, 32, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

.navbar .navbar-right .nav-item:active {
  background-color: rgba(218, 165, 32, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

.navbar .navbar-right a {
  text-decoration: none;
  color: white;
}

.background-transition {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0%;
  -ms-grid-columns: 5% 1fr 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  height: 100vh;
  width: 100%;
}

.background-transition .panel {
  border-right: 1px solid rgba(219, 219, 219, 0.5);
  background-color: #1e1e1e;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
/*# sourceMappingURL=main.css.map */