html,
body {
  overflow: hidden;
}

// Main background
.main-background {
  background-image: url(../Assets/Images/main-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
}

// Blue the background image
.main-background::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: scale(1.03);
  overflow: hidden;
  background-image: url(../Assets/Images/main-background.jpg);
  filter: blur(5px);
}

// Social media sidebar section
.social-media {
  position: absolute;
  display: flex;
  font-family: $primary-font;
  font-weight: lighter;
  color: $primary-text-color;
  letter-spacing: 7px;
  writing-mode: vertical-lr;
  height: 100vh;
  width: 5%;
  top: 0%;
  right: 0%;

  .linked-in {
    flex-grow: 1;
    text-align: center;
    align-self: center;
    margin-top: 20%;
    text-decoration: none;
    color: $primary-text-color;
    z-index: 10;
  }

  .linked-in:hover {
    transform: scale(1.1);
    color: goldenrod;
  }

  .github {
    flex-grow: 1;
    text-align: center;
    align-self: center;
    margin-bottom: 20%;
    text-decoration: none;
    color: $primary-text-color;
    z-index: 10;
  }

  .github:hover {
    transform: scale(1.1);
    color: goldenrod;
  }
}

// Background panel for fade in and out animations
.background-transition {
  display: grid;
  position: absolute;
  top: 0%;
  grid-template-columns: 5% 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 5%;
  height: 100vh;
  width: 100%;

  .panel {
    background-color: $primary-background-color;
    transform-origin: right;
    opacity: 0.95;
  }

  .line {
    background-color: $transitional-panel-lines-color;
  }
}

// Navigation bar
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  color: $primary-text-color;
  font-weight: lighter;
  z-index: 5;

  .logo {
    margin-top: 15px;
    margin-left: 1.8%;
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    font-weight: bolder;
  }

  .navbar-right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    width: 45%;
    margin-top: 15px;
    margin-right: 5%;

    .nav-item {
      font-size: 1rem;
      padding: 5px 25px;

      &:hover {
        background-color: rgba(218, 165, 32, 0.7);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
    }
  }

  .burger {
    margin-top: 15px;
    display: none;
    width: 35px;

    div {
      display: flex;
      flex-direction: column;
      height: 0.3vh;
      background-color: $primary-text-color;
      margin: 5px;
    }
  }

  .navbar-icon {
    display: none;
  }
}

// Pre-loader animation
.sk-cube-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-background-color;
  z-index: 999999;

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 48%;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: goldenrod;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }
}

// Medium Tablet version
@media screen and (max-width: 900px) {
  .background-transition {
    .box3 {
      grid-column: 3/6;
    }

    .box7 {
      grid-column: 7/10;
    }

    .box4,
    .box5,
    .box8,
    .box9 {
      z-index: -99;
      position: absolute;
    }
  }

  .navbar {
    .logo {
      margin-left: 6%;
    }

    .navbar-right {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 6vh;
      margin-right: 0%;
      right: 0px;
      top: 0px;
      height: 100vh;
      row-gap: 5vh;
      width: 50%;
      border-left: 1px solid $secondary-text-color;
      border-top: 1px solid $secondary-text-color;
      border-top-left-radius: 5px;
      background-color: $primary-background-color;

      .home {
        margin-top: 30px;
      }

      .nav-item {
        width: 85%;
        text-align: center;
      }
    }

    .burger {
      margin-right: 6%;
      display: block;
      cursor: pointer;
    }

    .navbar-icon {
      display: flex;
      height: 10%;
      column-gap: 10%;

      a .linkedin-mobile,
      a .github-mobile {
        width: 40%;
        height: auto;
        border-radius: 10%;

        &:hover {
          background-color: rgba(218, 165, 32, 0.7);
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          cursor: pointer;
        }
      }

      .linked-in {
        text-align: end;
      }

      .github {
        text-align: start;
      }
    }
  }

  .social-media {
    display: none;
  }
}

// Mobile version
@media screen and (max-width: 600px) {
  .background-transition {
    .box3 {
      grid-column: 3/10;
    }

    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
      z-index: -99;
      position: absolute;
    }
  }
}
