$primary-font: "Work Sans", sans-serif;

$primary-background-color: rgb(30, 30, 30);
$secondary-background-color: rgb(10, 10, 10);
$accent-color-1: goldenrod;
$transitional-panel-lines-color: rgba(219, 219, 219, 0.8);

$primary-text-color: white;
$secondary-text-color: rgb(200, 200, 200);
