.contact-flex-wrapper {
  position: absolute;
  display: flex;
  height: 85vh;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

.contact-flex-wrapper .container-header3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  color: $primary-text-color;
  font-family: $primary-font;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  .contact-header {
    text-align: center;
    font-size: clamp(4.5rem, 8vw, 6rem);
    font-weight: bolder;
    margin-bottom: 2%;
  }

  .contact-subheader {
    text-align: center;
    font-weight: lighter;
    opacity: 0.7;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;

    .contact-name {
      margin-top: 5%;
    }

    .contact-email,
    .contact-message {
      margin-top: 6%;
    }

    input[type="text"] {
      border: none;
      border-bottom: 2px solid $primary-text-color;
      padding: 10px;
      background-color: transparent;
      color: $primary-text-color;
      margin-top: 1%;
    }

    input:hover[type="text"] {
      border-bottom: 2px solid $accent-color-1;
    }

    .horizontal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 60px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 2px solid goldenrod;
      cursor: pointer;
      color: $primary-text-color;
      font-family: $primary-font;
      text-decoration: none;
      font-weight: lighter;

      .contact-button {
        position: relative;
        color: white;
        transition: background-position 300ms;
        font-weight: bolder;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: goldenrod;
        transform-origin: 100% 0;
        transform: scale3d(0, 1, 1);
        transition: transform 300ms;
      }

      &:hover {
        .contact-button {
          background-position: 0 0;
        }

        &::before {
          transform-origin: 0 0;
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}

// ===== MEDIA QUERIES ===== //
// PC/ Large Tablet version
@media screen and (max-width: 1200px) {
  .contact-flex-wrapper {
    margin-top: 6%;

    .container-header3 {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1024px) {
}

// Medium Tablet version
@media screen and (max-width: 900px) {
  .background-transition {
    .box3 {
      grid-column: 3/6;
    }

    .box7 {
      grid-column: 7/10;
    }

    .box4,
    .box5,
    .box8,
    .box9 {
      z-index: -99;
      position: absolute;
    }
  }

  .navbar {
    .logo {
      margin-left: 6%;
    }

    .navbar-right {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 6vh;
      margin-right: 0%;
      right: 0px;
      top: 0px;
      height: 100vh;
      row-gap: 5vh;
      width: 50%;
      border-left: 1px solid $secondary-text-color;
      border-top: 1px solid $secondary-text-color;
      border-top-left-radius: 5px;
      background-color: $primary-background-color;

      .home {
        margin-top: 30px;
      }

      .nav-item {
        width: 85%;
        text-align: center;
      }
    }

    .burger {
      margin-right: 6%;
      display: block;
      cursor: pointer;
    }

    .navbar-icon {
      display: flex;
      height: 10%;
      column-gap: 10%;

      a .linkedin-mobile,
      a .github-mobile {
        width: 40%;
        height: auto;
        border-radius: 10%;

        &:hover {
          background-color: rgba(218, 165, 32, 0.7);
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          cursor: pointer;
        }
      }

      .linked-in {
        text-align: end;
      }

      .github {
        text-align: start;
      }
    }
  }

  .social-media {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contact-flex-wrapper {
    margin-top: 8%;

    .container-header3 {
      width: 86%;
      padding: 25px;

      #contact-form {
        margin-left: 0%;
        margin-right: 0%;
      }
    }
  }
}

// Mobile version
@media screen and (max-width: 600px) {
  .background-transition {
    .box3 {
      grid-column: 3/10;
    }

    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
      z-index: -99;
      position: absolute;
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
