// Hero panel section
.hero-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: clamp(550px, 61vh, 800px);
  width: 56%;
  margin-top: 5%;
  margin-left: 6%;
  background-color: $secondary-background-color;
  font-family: $primary-font;
  opacity: 0.9;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 50px, rgba(0, 0, 0, 0.5) 0px 20px 50px;
  transform-origin: left;

  .home-text1,
  .home-text2 {
    font-weight: bolder;
    color: $primary-text-color;
  }

  .home-text1,
  .home-text2,
  .home-text3 {
    padding-left: 5%;

    &:hover {
      color: $accent-color-1;
    }
  }

  .home-text1 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-top: calc(5% + 20px);
  }

  .home-text2 {
    font-size: clamp(5rem, 8vw, 7rem);
  }

  .home-text3 {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: lighter;
    line-height: 3vh;
    margin-top: 2%;
    padding-right: 30%;
    color: rgb(150, 150, 150);
  }

  // ARROW BUTTON
  .arrow-button {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 2%;
    column-gap: 2%;

    .project {
      font-family: $primary-font;
      color: $secondary-text-color;
      letter-spacing: 3px;
      width: 50%;
      height: 8vh;
      text-align: end;
      font-size: clamp(0.8rem, 2vw, 1rem);
      font-weight: lighter;
      float: right;

      &:hover {
        color: $accent-color-1;
      }
    }

    svg {
      width: clamp(45px, 75%, 60px);
      height: 8vh;
      margin-right: 5%;
      cursor: pointer;
      overflow: visible;
      transform: rotate(-90deg);
      fill: $secondary-text-color;

      polygon,
      path {
        transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
      }
      &:hover polygon,
      &:hover path {
        transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        fill: $accent-color-1;
      }

      &:hover .arrow {
        animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
      }
      &:hover .arrow-fixed {
        animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
      }
    }
  }

  @keyframes arrow-anim {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    5% {
      transform: translateX(-0.1rem);
    }
    100% {
      transform: translateX(1rem);
      opacity: 0;
    }
  }

  @keyframes arrow-fixed-anim {
    5% {
      opacity: 0;
    }
    20% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}

// ===== MEDIA QUERIES ===== //
// PC/ Large Tablet version
@media screen and (max-width: 1200px) {
  .hero-panel {
    width: 72%;
  }
}

@media screen and (max-width: 1024px) {
  .hero-panel {
    width: 88%;
  }
}

// Medium Tablet version
@media screen and (max-width: 900px) {
  .background-transition {
    .box3 {
      grid-column: 3/6;
    }

    .box7 {
      grid-column: 7/10;
    }

    .box4,
    .box5,
    .box8,
    .box9 {
      z-index: -99;
      position: absolute;
    }
  }

  .navbar {
    .logo {
      margin-left: 6%;
    }

    .navbar-right {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 6vh;
      margin-right: 0%;
      right: 0px;
      top: 0px;
      height: 100vh;
      row-gap: 5vh;
      width: 50%;
      border-left: 1px solid $secondary-text-color;
      border-top: 1px solid $secondary-text-color;
      border-top-left-radius: 5px;
      background-color: $primary-background-color;

      .home {
        margin-top: 30px;
      }

      .nav-item {
        width: 85%;
        text-align: center;
      }
    }

    .burger {
      margin-right: 6%;
      display: block;
      cursor: pointer;
    }

    .navbar-icon {
      display: flex;
      height: 10%;
      column-gap: 10%;

      a .linkedin-mobile,
      a .github-mobile {
        width: 40%;
        height: auto;
        border-radius: 10%;

        &:hover {
          background-color: rgba(218, 165, 32, 0.7);
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          cursor: pointer;
        }
      }

      .linked-in {
        text-align: end;
      }

      .github {
        text-align: start;
      }
    }
  }

  .social-media {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

// Mobile version
@media screen and (max-width: 600px) {
  .background-transition {
    .box3 {
      grid-column: 3/10;
    }

    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
      z-index: -99;
      position: absolute;
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
